<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Z_HH_BUSINESSENTITYREFX">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
                    <!--    <wsdl:binding name='Z_HH_BUSINESSENTITYREFX'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <!--        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">..</sapsession:Session>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://i48lp1.in.tum.de:8048/sap/bc/srt/rfc/sap/z_hh_businessentityrefx/902/z_hh_businessentityrefx/z_hh_businessentityrefx"
                binding="customBinding" bindingConfiguration="Z_HH_BUSINESSENTITYREFX"
                contract="BusinessEntity.Z_HH_BusinessEntityREFX" name="Z_HH_BUSINESSENTITYREFX" />
        </client>
    </system.serviceModel>
</configuration>